nav {
  color: #fff;
  background-color: hsl(187, 43%, 44%);
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  position: relative;
}

#logo {
  font-family: 'bungee', 'sans-serif';
  font-size: 2rem;
  color: #ffc0cb;
  text-shadow: 0.5rem 0.5rem rgb(rgb(12, 11, 11))
}

.write-tweet {
  color: #ffc0cb;
  text-align: center;
  font-weight: 700;
  cursor: pointer;
}

.write-tweet i {
  color: #ffc0cb;
  font-size: 1.5rem;
}

.write-tweet:hover, .write-tweet i:hover {
  animation-name: hover-me;
  animation-duration: 5s;
}

@keyframes hover-me {
  from {color: #ffc0cb;;}
  to {color: #ffff00;}
}



@media only screen and (max-width: 400px) {
  
  #logo, .write-tweet {
    font-size: 1.8rem;
  }

  nav {
    padding: 1rem;
  }

  .profile img {
    width: 10rem;
    height: auto;
  }

  .new-tweet {
    padding: 1.5rem;
    font-size: 1.8rem;
  }

  #tweet-text {
    height: 2.5rem;
  }

  article.tweet {
    padding: 1rem;
    margin-bottom: 2rem;
  }

  .user-handle, .name-wrapper span {
    font-size: 1.2rem;
  }
  .name-wrapper img {
    width: 3rem;
    height: auto;
    padding-right: 0.5rem;
  }

  .tweet-post {
    font-size: 1.8rem;
    padding: 2rem 1rem 1rem;
  }

  .tweet-post::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.15rem;
    border-radius: 0.5rem;
    background-color: #000;
  }

  footer {
    margin-top: 1rem;
  }

  .divider {
    padding-bottom: 1.5rem;
  }
}