.new-tweet {
  padding: 2rem;
  width: 90%;
  margin: 0 auto;
  max-width: 100rem;
  text-align: center;
  display: none;
  font-size: 2rem;
}

@media only screen and (min-width: 1024px) {
  
  .new-tweet {
    background-color: #4095a0;
    width: 100%;
  }

  .new-tweet h2 {
    color: #f9eaed;
  }
}


form {
  width: 100%;
}

.wrapper {
  border-bottom: 0.2rem solid #000;
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
}

#tweet-text {
  border: none;
  resize: none;
  outline: none;
  width: 100%;
  height: 5rem;
  background-color: transparent;
}


.button-wrapper {
  display: flex;
  justify-content: space-between;
}

button {
  background-color: #069ab4;
  color: #fff;
  outline: none;
  border: none;
  border-radius: 1rem;
  font-family: "bungee", 'sans-serif';
  padding: 0.5rem 1rem;
  cursor: pointer;
}

button:hover {
  background-color: #036e81;
  transition: 0.3s linear;
}

.counter {
  font-family: "bungee", 'sans-serif';
}

#tweets-container {
  margin-top: 5rem;
}

article.tweet {
  padding: 2rem;
  border: 0.2rem solid #ffc0cb;
  border-radius: 1.5rem;
  margin-bottom: 3rem;
  background-color: #f9eaed;
  transition: 0.3s linear;
}

article.tweet:hover {
  box-shadow: 0.5rem 0.5rem 1rem rgb(142, 135, 146);
}

article.tweet header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.name-wrapper {
  display: flex;
  align-items: center;
  font-size: 2rem;
}

.name-wrapper img {
  padding-right: 1rem;
}

.user-handle {
  font-size: 2rem;
}

.tweet-post {
  position: relative;
  padding: 4rem 2rem 2rem;
  color: black;
  font-size: 2.4rem;
}

.tweet-post::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.3rem;
  border-radius: 0.5rem;
  background-color: #000;
}

.icons i:hover {
  color:#ffff00;
  cursor: pointer;
  transition: 0.3s linear;
}



footer {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  padding: 0 1rem;
  font-size: 1.8rem;
} 


@media only screen and (max-width: 400px) {
  
  #logo, .write-tweet {
    font-size: 1.8rem;
  }

  nav {
    padding: 1rem;
  }

  .profile img {
    width: 10rem;
    height: auto;
  }

  .new-tweet {
    padding: 1.5rem;
    font-size: 1.8rem;
  }

  #tweet-text {
    height: 2.5rem;
  }

  article.tweet {
    padding: 1rem;
    margin-bottom: 2rem;
  }

  .user-handle, .name-wrapper span {
    font-size: 1.2rem;
  }
  .name-wrapper img {
    width: 3rem;
    height: auto;
    padding-right: 0.5rem;
  }

  .tweet-post {
    font-size: 1.8rem;
    padding: 2rem 1rem 1rem;
  }

  .tweet-post::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.15rem;
    border-radius: 0.5rem;
    background-color: #000;
  }

  footer {
    margin-top: 1rem;
  }
}